body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				color:rgb(65, 158, 135);
				margin: 0;
				padding:0;
				background:
				url(food5.jpg );
				background-size:cover;
				background-position: center;
	}
.center-login{
	position: absolute;
	background-color: rgb(78, 78, 78);
	opacity: 0.9;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-left:100px;
	padding-right:100px;
	padding-bottom:10px;
	border:1px solid black;
	border-radius:10px;
	vertical-align:center;		
}
.center-login a{
	color: brown;
	text-decoration: none;
}
